<?xml version="1.0"encoding="UTF-8"?>
<widget>
    <!-- TODO: provide properly sized .png's -->
    <ThumbIcon>resources/img/icon/twitch-small.jpg</ThumbIcon><!-- 106x86 -->
    <BigThumbIcon>resources/img/icon/twitch-small.jpg</BigThumbIcon><!-- 115x95 -->
    <ListIcon>resources/img/icon/twitch-small.jpg</ListIcon><!-- 85x70 -->
    <BigListIcon>resources/img/icon/twitch-small.jpg</BigListIcon><!-- 95x78 -->
    <category>video, sports, game</category>
    <apptype>11</apptype>
    <autoUpdate>n</autoUpdate>
    <cpname>TimSchraepen</cpname>
    <!-- TODO: provide feature for twitch subscribers to log in to twitch, enable "login" and provide a "cpauthjs" script -->
    <login>n</login>
    <cpauthjs></cpauthjs>
    <ver>0.1</ver>
    <mgrver>1.000</mgrver>
    <fullwidget>y</fullwidget>
    <srcctl>y</srcctl>
    <ticker>n</ticker>
    <childlock>n</childlock>
    <audiomute>n</audiomute>
    <videomute>n</videomute>
    <movie>y</movie>
    <dcont>y</dcont>
    <network>y</network>
    <widgetname>Twitch.tv App</widgetname>
    <description>A SmartTV App to stream Twitch.tv streams</description>
    <width>960</width>
    <height>540</height>
    <author>
        <name>Tim Schraepen</name>
        <email>sch3lp@gmail.com</email>
        <link>https://github.com/Sch3lp/twitch-smart-tv</link>
        <organization></organization>
    </author>
</widget>